@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background: none;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff5f7;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #a2dbd7;
    padding: 17px 110px;
    color: white;
    font-size: 28px;
    font-style: bold;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}



nav a {
    text-decoration: none;
    color: #f07c90;
    font-weight: bold;
    font-size: 15px;
    border-bottom: #F07C90 2px solid;
    border-radius: 5px;        
    padding: 10px 20px;       
    background-color: #F07C90; 
    color: #fff5f7;            
                  
}

header img {
    width: 6rem;
    height: 5.5rem;
    border: none;
}

.escrita {
    width: 60rem;
    height: 5.5rem;
}

footer {
     background: #a2dbd7;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #333;
}

.card-produtos {
    width: 30rem;
    background-color: #f07c90;
    padding: 2rem;
    border-radius: 10px;
    height: 35rem;
    cursor: pointer;
}

.card-produtos:hover{
    padding: 3rem;
    transition: .4s;
    background-color: #a0dcd7;
    color: #f07c90;
}

.card-produtos:hover h3 {
    color: #f07c90;
}

.card-produtos img{
    width: 20rem;
    height: 20rem;
}

.card-produtos h3 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 25px;
}

.card-produtos p{
    color: white;
    font-size: 18px;
}

.produto {
    background: white;
    padding: 2.5rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.produto:hover {
    background-color: #a2dbd7;
    transition: .4s;
    padding: 3rem;

}

.produto:hover h3 {
    color: #F07C90;
}

.produto:hover p {
    color: #FFFFFF;
}

.produto img{
    width: 175px;
    height: 175px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.decoracao:hover {
    background-color: #a2dbd7;
    transition: .4s;
    padding: 3rem;
}

.decoracao:hover h3 {
    color: #F07C90;
}

.decoracao:hover p {
    color: #FFFFFF;
}

.decoracao img{
    width: 9rem;
    height: 9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section.produtos{
    background-color: #F07C90;
    padding: 165px;  
    text-align: center;
}

.prods-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}

.arco {
    display: flex;
    justify-content: end;
}

.arco a {
    color: #F07C90;
}

.card-decoracoes {
    width: 30rem;
    background-color: #f07c90;
    padding: 2rem;
    border-radius: 10px;
    height: 35rem;
    cursor: pointer;
}

.card-decoracoes{
    padding: 3rem;
    transition: .4s;
    background-color: #a0dcd7;
    color: #f07c90;
}

.card-decoracoes:hover h3 {
    color: #f07c90;
}

.card-decoracoes img{
    width: 20rem;
    height: 20rem;
}

.card-decoracoes h3 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 25px;
}

.card-decoracoes p{
    color: white;
    font-size: 18px;
}

.decoracao {
    display: inline-block;
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.decoracao img{
    width: 9rem;
    height: 9rem;
}

section.decoracoes{
    background-color: #FFF2F2;
    padding: 165px;  
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    color: #f07c90;
    margin-bottom: 20px;
}


.account-button img{
    color: white;
    padding: 20px 10px;
    width: 107%;
    height: 100%;
}



.icon-button {
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  margin: 5px;
  cursor: pointer;
}

.icon-button img {
  width: 47px; 
  height: auto;
  transition: transform 0.2s;
}

.icon-button img:hover {
  transform: scale(1.1);
}



.botoes {
    background: white;
    padding: 2.5rem;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 350px;
    height: 515px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.botoes:hover {
    background-color: #a2dbd7;
    transition: .4s;
    padding: 3rem;

}

.botoes:hover h3 {
    color: #F07C90;
}

.botoes:hover p {
    color: #FFFFFF;
}

.botoes img{
    width: 220px;
    height: 175px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.botoes h3{
    font-size: 40px;
    font-weight: 300;
}

.card-botoes {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

}

.botoes button{
    background-color: #F07C90;
    padding: 10px;
    border-radius: 10px;
    border: #F07C90 solid 3px;
}

.botoes a {
    text-decoration: none;
    color: #FFFFFF;
}

.botoes button:hover {
    background-color: #a2dbd7;
    transition: .5s;
}

.botoes button:hover a{
    color: #F07C90;
}