@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background: none;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff5f7;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f07c90;
    padding: 15px 50px;
    color: white;
    font-size: 30px;
    font-style: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

header img {
    width: 7rem;
    height: 7rem;
    border: none;
}